body{
  background-color: #dfdfdf;
}
/*GLOBAL*/
.main-container {
  display: flex;
  margin: 3rem;
  justify-content: center;
  flex-direction: column;
}
/*SECTION RESUME*/
.summary-section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  flex-direction: row;
}
.card-title {
  width: 12rem;
}
.card-item {
  width: 7rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

/*SECTION TABLE*/
/* DataTableDemo.css */

.datatable-filter{
    margin-bottom: 40px;
  }
  .datatable-filter .p-paginator .p-paginator-current {
    margin-left: auto;
  }
  .datatable-filter .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;
  }
  .datatable-filter .p-progressbar .p-progressbar-value {
    background-color: #607d8b;
  }
  .datatable-filter .p-datepicker {
    min-width: 25rem;
  }
  .datatable-filter .p-datepicker td {
    font-weight: 400;
  }
  .datatable-filter .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
  }
  .datatable-filter .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
  }
  .datatable-filter .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    min-width: '5rem';
    /* text-align: center; */
  }
  .datatable-filter .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
    text-align: center;
  }
  .datatable-filter .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
  }
  .header-table{
    display: flex;
    justify-content: space-around;
  }
  .field-form-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .form-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
/*SECTION TABLE*/
.footer-button-updateDialog{
  display:flex;
  flex-direction: row;  
  justify-content: flex-end;
  margin-top: 1rem;
}

  /*SECTION DASHBOARD*/
.contenedor-dashboard{
  display: grid;
  place-content: center;
  grid-auto-flow: column;
}

/*GRAPH-----------------*/
.card-graph{
  width: 30rem;
  margin: 10px;
}
.contenedor-grafico{
  margin-top: 2rem;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
}

/*CARD--------------------*/
.card-item-dashboard {
  width: 20rem;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.p-card-header h2{
  text-align: start;
  margin-left: 1rem;
}
.p-card-content{
  padding:0rem !important
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem !important;
}
.p-card-footer{
  padding: 0rem !important;
}
.p-card-footer p{
  text-align: center;
}
/*CARD--------------------*/

